<mat-toolbar mat-dialog-title color="primary">
  Reset your password
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<div *ngIf="errMess">
  <h4>{{errMess}}</h4>
</div>
<form novalidate #resetform="ngForm" (ngSubmit)="verifyCode()">
  <mat-dialog-content>
  	  	     <p>Enter the code that we just sent to your email</p>
  	      <mat-form-field dividerColor="{{code.invalid && !code.pristine ? 'warn' : 'primary'}}">
        <input matInput placeholder="Code" type="text" [(ngModel)]="user.code" 
        name="code" #code="ngModel" required>
        <mat-hint>
          <span [hidden]="code.pristine">
          <span [hidden]="!code.errors?.required">code is required</span>
          </span>
        </mat-hint>
      </mat-form-field>
 </mat-dialog-content>

  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>Cancel</button>
    <button  type="submit" mat-button class="background-primary text-floral-white" 
    [disabled]="resetform.form.invalid">Submit</button>

  </mat-dialog-actions>
</form>