<mat-toolbar mat-dialog-title color="primary">
  Reset your password
  <span class="flex-spacer"></span>
  <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>

<div *ngIf="errMess">
  <h4>{{errMess}}</h4>
</div>
<form novalidate #resetform="ngForm" (ngSubmit)="changePassword()">
  <mat-dialog-content>
  	    <mat-form-field dividerColor="{{password.invalid && !password.pristine ? 'warn' : 'primary'}}">
        <input matInput placeholder="Enter the new password" type="password" [(ngModel)]="user.password" 
        name="password" #password="ngModel" required>
        <mat-hint>
          <span [hidden]="password.pristine">
          <span [hidden]="!password.errors?.required">password is required</span>
          </span>
        </mat-hint>
      </mat-form-field><br>
        <mat-form-field dividerColor="{{password.invalid && !password.pristine ? 'warn' : 'primary'}}">
        <input matInput placeholder="Renter the new password" type="password" [(ngModel)]="user.repassword" 
        name="password" #password="ngModel" required>
        <mat-hint>
          <span [hidden]="password.pristine">
          <span [hidden]="!password.errors?.required">password is required</span>
          </span>
        </mat-hint>
      </mat-form-field>
 </mat-dialog-content>

  <mat-dialog-actions>
    <span class="flex-spacer"></span>
    <button mat-button mat-dialog-close>Cancel</button>
    <button  type="submit" mat-button class="background-primary text-floral-white" 
    [disabled]="resetform.form.invalid">Submit</button>

  </mat-dialog-actions>
</form>
